.button {
  position: fixed;
  bottom: 2.2rem;
  right: 2.2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--backtop-bg);
  border: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 4px #7c3aed;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  z-index: 9999;
}

.svgIcon {
  width: 14px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: var(--backtop-icon);
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  background-color: var(--backtop-hover-bg);
  align-items: center;
}

.button:hover .svgIcon {
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: #7c3aed;
  font-size: 0px;
}

.button:hover::before {
  font-size: 16px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}

/* Mobile tweak */
@media (max-width: 768px) {
  .button {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
